/*
Base16 Unikitty Light
 */
.highlighter-rouge .highlight {
  background-color: white;
}
.highlight {
  background-color: white;
  code {
    background-color: white;
  }

  .hll {
    background-color: #c4c3c5;
  }
  .c {
    color: #a7a5a8
  }
  /* Comment */
  .err {
    color: #d8137f
  }
  /* Error */
  .k {
    color: #aa17e6
  }
  /* Keyword */
  .l {
    color: #17ad98
  }
  /* Literal */
  .o {
    color: #149bda
  }
  /* Operator */
  .ch {
    color: #a7a5a8
  }
  /* Comment.Hashbang */
  .cm {
    color: #a7a5a8
  }
  /* Comment.Multiline */
  .cp {
    color: #e013d0
  }
  /* Comment.Preproc */
  .cpf {
    color: #17ad98
  }
  /* Comment.PreprocFile */
  .c1 {
    color: #a7a5a8
  }
  /* Comment.Single */
  .cs {
    color: #a7a5a8
  }
  /* Comment.Special */
  .kc {
    color: #aa17e6
  }
  /* Keyword.Constant */
  .kd {
    color: #aa17e6
  }
  /* Keyword.Declaration */
  .kn {
    color: #aa17e6
  }
  /* Keyword.Namespace */
  .kp {
    color: #aa17e6
  }
  /* Keyword.Pseudo */
  .kr {
    color: #aa17e6
  }
  /* Keyword.Reserved */
  .kt {
    color: #d8137f
  }
  /* Keyword.Type */
  .ld {
    color: #17ad98
  }
  /* Literal.Date */
  .m {
    color: #d65407
  }
  /* Literal.Number */
  .s {
    color: #17ad98
  }
  /* Literal.String */
  .na {
    color: #775dff
  }
  /* Name.Attribute */
  .nb {
    color: #775dff
  }
  /* Name.Builtin */
  .nc {
    color: #775dff
  }
  /* Name.Class */
  .no {
    color: #d65407
  }
  /* Name.Constant */
  .nd {
    color: #d65407
  }
  /* Name.Decorator */
  .nf {
    color: #775dff
  }
  /* Name.Function */
  .nn {
    color: #775dff
  }
  /* Name.Namespace */
  .nt {
    color: #aa17e6
  }
  /* Name.Tag */
  .nv {
    color: #775dff
  }
  /* Name.Variable */
  .ow {
    color: #aa17e6
  }
  /* Operator.Word */
  .w {
    color: #6c696e
  }
  /* Text.Whitespace */
  .mb {
    color: #d65407
  }
  /* Literal.Number.Bin */
  .mf {
    color: #d65407
  }
  /* Literal.Number.Float */
  .mh {
    color: #d65407
  }
  /* Literal.Number.Hex */
  .mi {
    color: #d65407
  }
  /* Literal.Number.Integer */
  .mo {
    color: #d65407
  }
  /* Literal.Number.Oct */
  .sa {
    color: #17ad98
  }
  /* Literal.String.Affix */
  .sb {
    color: #17ad98
  }
  /* Literal.String.Backtick */
  .sc {
    color: #17ad98
  }
  /* Literal.String.Char */
  .dl {
    color: #17ad98
  }
  /* Literal.String.Delimiter */
  .sd {
    color: #17ad98
  }
  /* Literal.String.Doc */
  .s2 {
    color: #17ad98
  }
  /* Literal.String.Double */
  .se {
    color: #17ad98
  }
  /* Literal.String.Escape */
  .sh {
    color: #17ad98
  }
  /* Literal.String.Heredoc */
  .si {
    color: #e013d0
  }
  /* Literal.String.Interpol */
  .sx {
    color: #17ad98
  }
  /* Literal.String.Other */
  .sr {
    color: #149bda
  }
  /* Literal.String.Regex */
  .s1 {
    color: #17ad98
  }
  /* Literal.String.Single */
  .ss {
    color: #d65407
  }
  /* Literal.String.Symbol */
  .bp {
    color: #d8137f
  }
  /* Name.Builtin.Pseudo */
  .fm {
    color: #775dff
  }
  /* Name.Function.Magic */
  .vc {
    color: #775dff
  }
  /* Name.Variable.Class */
  .vg {
    color: #775dff
  }
  /* Name.Variable.Global */
  .vi {
    color: #d8137f
  }
  /* Name.Variable.Instance */
  .vm {
    color: #775dff
  }
  /* Name.Variable.Magic */
  .il {
    color: #d65407
  }
  /* Literal.Number.Integer.Long */
}
